<a href="https://colab.research.google.com/github/2303A51085/B2_PFDS_1085/blob/main/Files.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
fp=open("myexample.txt","w")
fp.write("batch 1 to 6\n")
fp.write("CSE\n")
fp.write("SR University\n")
fp.close()
print("Data written successfully")

Data written successfully

In [ ]:
file=open("myexample.txt","r")
content=file.read()
print("File Info",content)
file.close()

File Info batch 1 to 6
CSE
SR University

In [ ]:
fp=open("myexample.txt","r")
line1=fp.readline()
line2=fp.readline()
print("We have only one line\n",line1)
print(line2)
fp.close()

We have only one line
 batch 1 to 6

CSE

In [ ]:
fp=open("myexample.txt","r")
line1=fp.readlines()
print("all lines",line1)

all lines ['batch 1 to 6\n', 'CSE\n', 'SR University\n', 'batch 1 to 6\n', 'CSE\n', 'SR University\n']

In [ ]:
fp=open("myexample.txt","a")
text=fp.write("Students Result")
print("Data appended successfully")
fp.close()

Data appended successfully

In [ ]:
with open("myexample.txt","r") as fp:
    content=fp.read()
    print(content)

batch 1 to 6
CSE
SR University
batch 1 to 6
CSE
SR University
Students Result

In [ ]:
# Working with CSV Files
import csv
# Writing to CSV
with open('Trading.csv', 'w') as fp:
    wr = csv.writer(fp)
    wr.writerow(["Name", "Age", "Gender", "Course"])
    wr.writerow(["Anoop", "20", "MALE", "CSE"])
    wr.writerow(["Abhilash", "107", "FEMALE", "IT"])

In [ ]:
with open('Trading.csv', 'r') as fp:
    data=csv.reader(fp)
    for row in data:
        print(row)

['Name', 'Age', 'Gender', 'Course']
['Anoop', '20', 'MALE', 'CSE']
['Abhilash', '107', 'FEMALE', 'IT']

In [ ]:
# Classroom Test

# Take user input
name = input("Enter student name: ")
marks = input("Enter student marks: ")

# Write to file
with open("students.txt", "a") as file:
    file.write(name + "," + marks + "\n")

# Read and display all entries
print("\nAll Entries in File:")
with open("students.txt", "r") as file:
    for line in file:
        print(line.strip())

Enter student name: Anoop
Enter student marks: 99

All Entries in File:
Anoop,99